[Unit]
Description={{ app_service_name }} service
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ app_src_dir }}
ExecStart={{ app_exec_start }}
{% for env_key, env_val in app_environment.items() %}
Environment="{{ env_key }}={{ env_val }}"
{% endfor %}
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
