<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job">
  <actions/>
  <description>{{ jenkins_job.description | e }}</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
{% for parameter in jenkins_job.parameters %}
{% if parameter.type == 'boolean' %}
        <hudson.model.BooleanParameterDefinition>
          <name>{{ parameter.name | e }}</name>
          <description>{{ parameter.description | e }}</description>
          <defaultValue>{{ parameter.default | bool | lower }}</defaultValue>
        </hudson.model.BooleanParameterDefinition>
{% elif parameter.type == 'choice' %}
        <hudson.model.ChoiceParameterDefinition>
          <name>{{ parameter.name | e }}</name>
          <description>{{ parameter.description | e }}</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
{% for choice in parameter.choices %}
              <string>{{ choice | e }}</string>
{% endfor %}
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
{% else %}
        <hudson.model.StringParameterDefinition>
          <name>{{ parameter.name | e }}</name>
          <description>{{ parameter.description | e }}</description>
          <defaultValue>{{ parameter.default | string | e }}</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
{% endif %}
{% endfor %}
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps">
    <scm class="hudson.plugins.git.GitSCM" plugin="git">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>{{ jenkins_job.scm_url | e }}</url>
{% if jenkins_job.scm_credentials_id | default('') | length > 0 %}
          <credentialsId>{{ jenkins_job.scm_credentials_id | e }}</credentialsId>
{% endif %}
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>{{ jenkins_job.scm_ref | e }}</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="empty-list"/>
      <extensions>
        <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
      </extensions>
    </scm>
    <scriptPath>{{ jenkins_job.script_path | e }}</scriptPath>
    <lightweight>true</lightweight>
  </definition>
{% if jenkins_job.github_trigger | default(false) %}
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github">
      <spec/>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
{% else %}
  <triggers/>
{% endif %}
  <disabled>false</disabled>
</flow-definition>